<div class="offer">
	<div class="b-img"><a href="index.php?action=offer-detail&company=atos"><img alt="entp-img" src="img/entreprises/atos.jpg"/></a></div>
	<div class="b-text">
		<h3><a href="index.php?action=offer-detail&company=atos">Développeur web H/F HTML5/CSS3</a></h3>
		<div class="single-info">
			<p>Atos - Caen - Stage / 480 &euro;</p>
		</div>
		<div class="desc">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Nulla tincidunt in nunc ac semper. Nunc feugiat lectus in
				mauris aliquam imperdiet. Vestibulum laoreet odio id dictum lobortis.					
			</p>
		</div>
		<div class="posted-time"><p>Le 03/01/2015</p></div>						
	</div>
</div>
<div class="offer">
	<div class="b-img"><a href="index.php?action=offer-detail&company=free"><img alt="entp-img" src="img/entreprises/free.jpg"/></a></div>
	<div class="b-text">
		<h3><a href="index.php?action=offer-detail&company=free">Développeur web H/F Backend</a></h3>
		<div class="single-info">
			<p>Free - Caen - Stage / 480 &euro;</p>
		</div>
		<div class="desc">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Nulla tincidunt in nunc ac semper. Nunc feugiat lectus in
				mauris aliquam imperdiet. Vestibulum laoreet odio id dictum lobortis.					
			</p>
		</div>
		<div class="posted-time"><p>Le 02/01/2015</p></div>						
	</div>
</div>
<div class="offer">
	<div class="b-img"><a href="index.php?action=offer-detail&company=laposte"><img alt="entp-img" src="img/entreprises/laposte.png"/></a></div>
	<div class="b-text">
		<h3><a href="index.php?action=offer-detail&company=laposte">Développeur web H/F Frontend</a></h3>
		<div class="single-info">
			<p>Laposte - Caen - Stage / 480 &euro;</p>
		</div>
		<div class="desc">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Nulla tincidunt in nunc ac semper. Nunc feugiat lectus in
				mauris aliquam imperdiet. Vestibulum laoreet odio id dictum lobortis.					
			</p>
		</div>	
		<div class="posted-time"><p>Le 01/01/2015</p></div>					
	</div>
</div>
<div class="offer">
	<div class="b-img"><a href="index.php?action=offer-detail&company=orange"><img alt="entp-img" src="img/entreprises/orange.jpg"/></a></div>
	<div class="b-text">
		<h3><a href="index.php?action=offer-detail&company=orange">Développeur web H/F (Symfony2)</a></h3>
		<div class="single-info">
			<p>Orange - Caen - Stage / 480 &euro;</p>
		</div>
		<div class="desc">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Nulla tincidunt in nunc ac semper. Nunc feugiat lectus in
				mauris aliquam imperdiet. Vestibulum laoreet odio id dictum lobortis.					
			</p>
		</div>
		<div class="posted-time"><p>À l'instant</p></div>
	</div>							
</div>