<div class="offer">
	<div class="b-img"><a href="index.php?action=offer-detail&company=none"><img alt="entp-img" src="img/entreprises/bandyou.jpeg"/></a></div>
	<div class="b-text">
		<h3><a href="index.php?action=offer-detail&company=none">Développeur Java H/F</a></h3>
		<div class="single-info">
			<p>BandYou - Paris - Stage / 480 &euro;</p>
		</div>
		<div class="desc">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Nulla tincidunt in nunc ac semper. Nunc feugiat lectus in
				mauris aliquam imperdiet. Vestibulum laoreet odio id dictum lobortis.					
			</p>
		</div>
		<div class="posted-time"><p>Le 03/01/2015</p></div>						
	</div>
</div>
<div class="offer">
	<div class="b-img"><a href="index.php?action=offer-detail&company=none"><img alt="entp-img" src="img/entreprises/carrefour.jpg"/></a></div>
	<div class="b-text">
		<h3><a href="index.php?action=offer-detail&company=none">Développeur Java H/F</a></h3>
		<div class="single-info">
			<p>Carrefour - Paris - Stage / 480 &euro;</p>
		</div>
		<div class="desc">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Nulla tincidunt in nunc ac semper. Nunc feugiat lectus in
				mauris aliquam imperdiet. Vestibulum laoreet odio id dictum lobortis.					
			</p>
		</div>
		<div class="posted-time"><p>Le 03/01/2015</p></div>						
	</div>
</div>
<div class="offer">
	<div class="b-img"><a href="index.php?action=offer-detail&company=none"><img alt="entp-img" src="img/entreprises/EDF.svg"/></a></div>
	<div class="b-text">
		<h3><a href="index.php?action=offer-detail&company=none">Développeur Java H/F</a></h3>
		<div class="single-info">
			<p>EDF - Paris - Stage / 480 &euro;</p>
		</div>
		<div class="desc">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Nulla tincidunt in nunc ac semper. Nunc feugiat lectus in
				mauris aliquam imperdiet. Vestibulum laoreet odio id dictum lobortis.					
			</p>
		</div>
		<div class="posted-time"><p>Le 03/01/2015</p></div>						
	</div>
</div>
<div class="offer">
	<div class="b-img"><a href="index.php?action=offer-detail&company=atos"><img alt="entp-img" src="img/entreprises/atos.jpg"/></a></div>
	<div class="b-text">
		<h3><a href="index.php?action=offer-detail&company=atos">Développeur web H/F HTML5/CSS3</a></h3>
		<div class="single-info">
			<p>Atos - Paris - Stage / 480 &euro;</p>
		</div>
		<div class="desc">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Nulla tincidunt in nunc ac semper. Nunc feugiat lectus in
				mauris aliquam imperdiet. Vestibulum laoreet odio id dictum lobortis.					
			</p>
		</div>
		<div class="posted-time"><p>Le 03/01/2015</p></div>						
	</div>
</div>
