<div class="offer">
	<div class="b-img"><a href="index.php?action=offer-detail&company=none"><img alt="entp-img" src="img/entreprises/bandyou.jpeg"/></a></div>
	<div class="b-text">
		<h3><a href="index.php?action=offer-detail&company=none">Développeur Java H/F </a></h3>
		<div class="single-info">
			<p>BandYou - Caen - Stage / 480 &euro;</p>
		</div>
		<div class="desc">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Nulla tincidunt in nunc ac semper. Nunc feugiat lectus in
				mauris aliquam imperdiet. Vestibulum laoreet odio id dictum lobortis.					
			</p>
		</div>
		<div class="posted-time"><p>À l'instant</p></div>
	</div>							
</div>
<div class="offer">
	<div class="b-img"><a href="index.php?action=offer-detail&company=none"><img alt="entp-img" src="img/entreprises/carrefour.jpg"/></a></div>
	<div class="b-text">
		<h3><a href="index.php?action=offer-detail&company=none">Développeur Java H/F </a></h3>
		<div class="single-info">
			<p>Carrefour - Caen - Stage / 480 &euro;</p>
		</div>
		<div class="desc">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Nulla tincidunt in nunc ac semper. Nunc feugiat lectus in
				mauris aliquam imperdiet. Vestibulum laoreet odio id dictum lobortis.					
			</p>
		</div>
		<div class="posted-time"><p>Le 01/01/2015</p></div>						
	</div>
</div>
<div class="offer">
	<div class="b-img"><a href="index.php?action=offer-detail&company=none"><img alt="entp-img" src="img/entreprises/EDF.svg"/></a></div>
	<div class="b-text">
		<h3><a href="index.php?action=offer-detail&company=none">Développeur Java H/F</a></h3>
		<div class="single-info">
			<p>EDF - Paris - Stage / 480 &euro;</p>
		</div>
		<div class="desc">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Nulla tincidunt in nunc ac semper. Nunc feugiat lectus in
				mauris aliquam imperdiet. Vestibulum laoreet odio id dictum lobortis.					
			</p>
		</div>
		<div class="posted-time"><p>À l'instant</p></div>						
	</div>
</div>
<div class="offer">
	<div class="b-img"><a href="index.php?action=offer-detail&company=none"><img alt="entp-img" src="img/entreprises/Gaz-de-France.jpg"/></a></div>
	<div class="b-text">
		<h3><a href="index.php?action=offer-detail&company=atos">Développeur Java H/F </a></h3>
		<div class="single-info">
			<p>Gaz de France - Paris - Stage / 480 &euro;</p>
		</div>
		<div class="desc">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Nulla tincidunt in nunc ac semper. Nunc feugiat lectus in
				mauris aliquam imperdiet. Vestibulum laoreet odio id dictum lobortis.					
			</p>
		</div>
		<div class="posted-time"><p>À l'instant</p></div>						
	</div>
</div>
<div class="offer">
	<div class="b-img"><a href="index.php?action=offer-detail&company=none"><img alt="entp-img" src="img/entreprises/kfc.png"/></a></div>
	<div class="b-text">
		<h3><a href="index.php?action=offer-detail&company=none">Développeur Java H/F</a></h3>
		<div class="single-info">
			<p>KFC - Lyon - Stage / 480 &euro;</p>
		</div>
		<div class="desc">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Nulla tincidunt in nunc ac semper. Nunc feugiat lectus in
				mauris aliquam imperdiet. Vestibulum laoreet odio id dictum lobortis.					
			</p>
		</div>
		<div class="posted-time"><p>À l'instant</p></div>						
	</div>
</div>
<div class="offer">
	<div class="b-img"><a href="index.php?action=offer-detail&company=none"><img alt="entp-img" src="img/entreprises/logo_danone.jpg"/></a></div>
	<div class="b-text">
		<h3><a href="index.php?action=offer-detail&company=atos">Développeur Java H/F </a></h3>
		<div class="single-info">
			<p>Danone - Lyon - Stage / 480 &euro;</p>
		</div>
		<div class="desc">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Nulla tincidunt in nunc ac semper. Nunc feugiat lectus in
				mauris aliquam imperdiet. Vestibulum laoreet odio id dictum lobortis.					
			</p>
		</div>
		<div class="posted-time"><p>À l'instant</p></div>						
	</div>
</div>