<div class="offer">
	<div class="b-img"><a href="index.php?action=offer-detail&company=none"><img alt="entp-img" src="img/entreprises/logo_fnac.jpg"/></a></div>
	<div class="b-text">
		<h3><a href="index.php?action=offer-detail&company=none">Contrôlleur de Gestion H/F </a></h3>
		<div class="single-info">
			<p>Fnac - Caen - Stage / 480 &euro;</p>
		</div>
		<div class="desc">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Nulla tincidunt in nunc ac semper. Nunc feugiat lectus in
				mauris aliquam imperdiet. Vestibulum laoreet odio id dictum lobortis.					
			</p>
		</div>
		<div class="posted-time"><p>À l'instant</p></div>
	</div>							
</div>
<div class="offer">
	<div class="b-img"><a href="index.php?action=offer-detail&company=none"><img alt="entp-img" src="img/entreprises/logo_nrj.png"/></a></div>
	<div class="b-text">
		<h3><a href="index.php?action=offer-detail&company=none">Gestionnaire financier H/F </a></h3>
		<div class="single-info">
			<p>NRJ - Caen - Stage / 480 &euro;</p>
		</div>
		<div class="desc">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Nulla tincidunt in nunc ac semper. Nunc feugiat lectus in
				mauris aliquam imperdiet. Vestibulum laoreet odio id dictum lobortis.					
			</p>
		</div>
		<div class="posted-time"><p>Le 01/01/2015</p></div>						
	</div>
</div>
<div class="offer">
	<div class="b-img"><a href="index.php?action=offer-detail&company=none"><img alt="entp-img" src="img/entreprises/logo_quick.jpg"/></a></div>
	<div class="b-text">
		<h3><a href="index.php?action=offer-detail&company=none">Contrôlleur de gestion H/F</a></h3>
		<div class="single-info">
			<p>Quick - Paris - Stage / 480 &euro;</p>
		</div>
		<div class="desc">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Nulla tincidunt in nunc ac semper. Nunc feugiat lectus in
				mauris aliquam imperdiet. Vestibulum laoreet odio id dictum lobortis.					
			</p>
		</div>
		<div class="posted-time"><p>À l'instant</p></div>						
	</div>
</div>
<div class="offer">
	<div class="b-img"><a href="index.php?action=offer-detail&company=none"><img alt="entp-img" src="img/entreprises/logo_virgin.jpg"/></a></div>
	<div class="b-text">
		<h3><a href="index.php?action=offer-detail&company=atos">Gestionnaire financier H/F </a></h3>
		<div class="single-info">
			<p>Virgin - Paris - Stage / 480 &euro;</p>
		</div>
		<div class="desc">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Nulla tincidunt in nunc ac semper. Nunc feugiat lectus in
				mauris aliquam imperdiet. Vestibulum laoreet odio id dictum lobortis.					
			</p>
		</div>
		<div class="posted-time"><p>À l'instant</p></div>						
	</div>
</div>
<div class="offer">
	<div class="b-img"><a href="index.php?action=offer-detail&company=none"><img alt="entp-img" src="img/entreprises/logo-darty.jpg"/></a></div>
	<div class="b-text">
		<h3><a href="index.php?action=offer-detail&company=none">Comptabilité financière H/F</a></h3>
		<div class="single-info">
			<p>Darty - Lyon - Stage / 480 &euro;</p>
		</div>
		<div class="desc">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Nulla tincidunt in nunc ac semper. Nunc feugiat lectus in
				mauris aliquam imperdiet. Vestibulum laoreet odio id dictum lobortis.					
			</p>
		</div>
		<div class="posted-time"><p>À l'instant</p></div>						
	</div>
</div>