<div class="offer">
	<div class="b-img"><a href="index.php?action=offer-detail&company=none"><img alt="entp-img" src="img/entreprises/total.jpg"/></a></div>
	<div class="b-text">
		<h3><a href="index.php?action=offer-detail&company=none">Assistant(e) clinique H/F </a></h3>
		<div class="single-info">
			<p>Total - Caen - Stage / 480 &euro;</p>
		</div>
		<div class="desc">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Nulla tincidunt in nunc ac semper. Nunc feugiat lectus in
				mauris aliquam imperdiet. Vestibulum laoreet odio id dictum lobortis.					
			</p>
		</div>
		<div class="posted-time"><p>À l'instant</p></div>
	</div>							
</div>
<div class="offer">
	<div class="b-img"><a href="index.php?action=offer-detail&company=none"><img alt="entp-img" src="img/entreprises/Unicaen.png"/></a></div>
	<div class="b-text">
		<h3><a href="index.php?action=offer-detail&company=none">Assistant(e) clinique H/F </a></h3>
		<div class="single-info">
			<p>Unicaen - Caen - Stage / 480 &euro;</p>
		</div>
		<div class="desc">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Nulla tincidunt in nunc ac semper. Nunc feugiat lectus in
				mauris aliquam imperdiet. Vestibulum laoreet odio id dictum lobortis.					
			</p>
		</div>
		<div class="posted-time"><p>Le 01/01/2015</p></div>						
	</div>
</div>
<div class="offer">
	<div class="b-img"><a href="index.php?action=offer-detail&company=none"><img alt="entp-img" src="img/entreprises/alstom_logo.png"/></a></div>
	<div class="b-text">
		<h3><a href="index.php?action=offer-detail&company=none">Assistant(e) clinique H/F </a></h3>
		<div class="single-info">
			<p>Alstom - Paris - Stage / 480 &euro;</p>
		</div>
		<div class="desc">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Nulla tincidunt in nunc ac semper. Nunc feugiat lectus in
				mauris aliquam imperdiet. Vestibulum laoreet odio id dictum lobortis.					
			</p>
		</div>
		<div class="posted-time"><p>À l'instant</p></div>						
	</div>
</div>
<div class="offer">
	<div class="b-img"><a href="index.php?action=offer-detail&company=none"><img alt="entp-img" src="img/entreprises/atos.jpg"/></a></div>
	<div class="b-text">
		<h3><a href="index.php?action=offer-detail&company=none">Assistant(e) clinique H/F </a></h3>
		<div class="single-info">
			<p>Atos - Paris - Stage / 480 &euro;</p>
		</div>
		<div class="desc">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Nulla tincidunt in nunc ac semper. Nunc feugiat lectus in
				mauris aliquam imperdiet. Vestibulum laoreet odio id dictum lobortis.					
			</p>
		</div>
		<div class="posted-time"><p>À l'instant</p></div>						
	</div>
</div>